
<html lang="en">
<head>
    <title>Blogs Directories </title>
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    
<div id="nav">
    <div class="NavBar">
        <div class="contents">
            <h1 style="flex-grow: 6; "><a href="/"> Blog Writings </a></h1>
            <p class="items" id="Contact" style="flex-grow:1 "> <a href="/">Home</a></p>
            <p class="items" id="Contact" style="flex-grow:1 "> <a href="/publish">Publish</a></p>
            <p class="items" id="About" style="flex-grow:1 "><a href="/about">About</a></p>
            <p class="items" id="Home" style="flex-grow:1 "> <a href="/contact">Contact</a></p>
        </div>
    </div>
</div>
