<%- include('./partials/header') -%>

<!-- Blogs reports -->

<div class="Blog">
    <div id="Heading12">
        <h1> About </h1>
    </div>
    <div class="content">
        <p> <%= Home1 %> </p>
    </div>
</div>


<%- include('./partials/footer') -%>